
    <title>Mi familia :)</title>
</head>
    <h1>Esta es mi familia</h1>
<body>
</style>
<section>
    <h2>Mi madre:</h2>    
    <p>Mi Madre se llama {{nombre_mimadre}}</p>
    <p>Norma nacio el {{fechanacim_mimadre}}</p>
    <p>Su DNI es {{dni_mimadre}}</p>
    
    <h2>Mi mujer:</h2>    
    <p>Mi mujer se llama {{nombre_mimujer}}</p>
    <p>Zomerlys cumple el {{fechanacim_mimujer}}</p>
    <p>Su DNI es {{dni_mimujer}}</p>

    <h2>Mi hermano:</h2>    
    <p>Mi hermano se llama {{nombre_mihermano}}</p>
    <p>Alan cumple el {{fechanacim_mihermano}}</p>
    <p>Su DNI es {{dni_mihermano}}</p>
</body>
</html>